apiVersion: 1

datasources:
  - name: PostgreSQL
    type: postgres
    uid: postgresql
    access: proxy
    url: postgres:5432
    user: ${PG_USER:-agritech}
    database: agritech
    secureJsonData:
      password: ${PG_PASSWORD:-agritech2026}
    jsonData:
      sslmode: disable
      maxOpenConns: 10
      maxIdleConns: 5
      connMaxLifetime: 14400
      postgresVersion: 1500
      timescaledb: false
    isDefault: false
    editable: true
